@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESETs  */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background:rgb(4, 5, 4);
  -webkit-tap-highlight-color: transparent;
   outline: none;
  
}

#navBar2{
  position: absolute;
  top: 0;
  right:0px;
   background-color: brown;
  height:30vh;
  width: 750px;
}


#navBar2 ul{
  margin-top: 20px;

}
#navBar2 ul li a{
font-size: 1.2rem;
margin-bottom: 5px;
}

#navBar2 {
  position: absolute;
  top: 0;
  z-index: 2100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: none;
  border-radius: 20px;
  padding: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
   
}


#navBar2 ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}


#mergeDiv{
  display: none;
}





/* Header Section */
header{
  position: sticky;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: 700 ;
  font-size: 1.2rem;
  width: 100%;
  max-height: 110px;
  border-bottom: 2px solid rgba(147, 133, 133, 0.633);
  background: black;
  backdrop-filter: blur(10px);
  z-index: 1000;

}

#menuButton{
background-color: transparent;
outline: none;
border: none;

display: none;
}

#menuButton i{
  color: white;
  font-size: 2.9rem; 
    
}


#menuCancel{
background-color: transparent;
outline: none;
border: none;
}
#menuCancel i{
  color: white;
  font-size: 2.9rem; 
}

header .logo{

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

header .logo img{
  filter: brightness(0) saturate(100%) invert(31%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%);
}
header .logo a{
text-decoration: none;
}
header .logo strong{
  color:   rgb(51, 51, 227);
}
header .logo span{
  color: white;
} 


nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
nav ul li{
  list-style: none;
  text-decoration: none;
}


nav ul li a{
  border-radius: 10px;
  text-decoration: none;
  color: white;
  padding: 4px 10px;
  font-weight: 600;
  
}
nav ul li a:hover{
  color: white;
  background-color: rgb(51, 51, 227);
}

/* Hero Sections */

/* HOme  Sections */
#home{
  margin-top: 10px;
  margin-bottom: 20px;
  scroll-margin-top: 120px;
  max-height:calc(100vh - 100px);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  
  background: linear-gradient(
    to bottom, 
    rgba(232, 229, 229, 0.8),
    rgba(15, 31, 207, 0.913) 
    
    );
    
    display: flex;
    justify-content: space-between;
    /* display: none; */
}

/* Right Side DIv Styling */
#home .leftDiv{
  height: 100%;
  width: 50%;
  border-radius: 15px;
  padding-top: 28px;
  padding-left: 120px;
  margin-right: 5px;
}

#home .leftDiv h4{
  font-size: 1.6rem;
  text-shadow: 2px 2px 4px rgb(0, 0, 0,);
  margin-bottom: 10px;

}
#home .leftDiv h3{
  font-size: 1.6rem;
}
#home .leftDiv h1{
  color:  rgb(51, 51, 227);
  font-size: 2.2rem;
  font-weight: 700;
 
}
#home .leftDiv h1 span{
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
#home .leftDiv p{
  color:white;
  font-size: 0.9rem;
  font-weight: 00;
  width: 100%;
  margin-bottom: 40px;

}

.links{
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid gray;
  padding-bottom: 42px;
}
.links a i{
  font-size:2.4rem;
  gap: 20px;
  color: white;
  background-color:transparent;
  border-radius: 0%;
  margin-right: 15px;

}
.links a i:hover{
 
  background-color:rgb(13, 13, 215);
  border-radius: 100%;

}

.links .downloadButton{
  height: 42px;
  width: 200px;
  text-decoration: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 700;
  color: blue;
  transition: transform 0.1s ease; 
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.4);

}
.links .downloadButton:hover{
  background-color: rgb(51, 51, 227);
  color: white;
}

.links .downloadButton:active{
  transform: scale(0.95);
}



/* Image POrtion */
/* Left Side DIv Styling */
#home .rightDiv{
  height: 100%;
  width: 50%;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  
}

#home .rightDiv img{
width:60%;
border-radius:20px;
box-shadow: 0 0 10px rgb(10, 10, 170),
0 0 100px rgba(5, 5, 226, 0.696),
0 0 100px rgba(0, 0, 255, 0.407),
0 0 100px rgba(0, 0, 255, 0.504);
}

#home .rightDiv .profilePic{
  display: flex;
  justify-content: center;
  align-items: center;
}





/* About  Sections */
#about{
  margin-top: 10px;
  margin-bottom: 20px;
  scroll-margin-top: 120px;
  height: calc(100vh - 140px);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 25px;
  background: linear-gradient(
    to bottom, 
    rgba(232, 229, 229, 0.8), 
    rgba(15, 31, 207, 0.913) 
);
/* display: none; */
  
}

#about h2{
  margin-bottom: 10px;
font-size: 2.9rem;

}


#about ul li{
  list-style: inside;
  margin-top: 12px;
  color: rgb(0, 0, 0);
  }
  #about ul li strong{
  
    color: rgb(0, 0, 0);
    }
    



/* * Skills  Sections */ 

#skills h2{
margin-bottom: 10px;
font-size: 2.9rem;

}
#projects h2{
margin-bottom: 10px;
font-size: 2.9rem;

}

#skills{
  margin-bottom: 20px;
  scroll-margin-top: 120px;
  height: calc(100vh - 140px);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 25px;
  background: linear-gradient(
    to bottom, 
    rgba(232, 229, 229, 0.8), 
    rgba(15, 31, 207, 0.913) 
);
}
/* HTML SKILL */
.outer {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 25px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  margin-bottom:8px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  border-bottom: .5px solid #fff;
  border-top: .5px solid #fff;
}

.innerhtml,.innercss,.innerjavascript,.innerreactjs,.innernextjs,.innertailwindcss{
  height: 100%;
  background-color:  rgba(15, 31, 207, 0.913) ;
  width: 0%; 
  transition: width 2s ease-in-out; 
}
.innerhtml:hover,
.innercss:hover,
.innerjavascript:hover,
.innerreactjs:hover,
.innernextjs:hover,
.innertailwindcss:hover {
  background-color: rgb(0, 30, 120);
  cursor: pointer;
}

.outer span{
font-size: 17px;
font-weight: 700;
margin-left: 8px;
}

.animateHtml{
  width: 90%;
}
.animateCss{
  width: 80%;
}
.animateJavascript{
  width:75%;
}
.animateReactjs{
  width: 65%;
}
.animateNextjs{
  width: 50%;
}
.animatetailwind{
  width: 80%;
}




h5{
  color: black;
  font-size: 1.2rem;
}
h5 i{
  color: #121213;

}
 


/* Footer Section */
footer{
  background: transparent;
  position: static;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;
  width: 100%;
  border-top: 2px solid rgba(147, 133, 133, 0.633);
  height: 100px;
  color: white;
  font-weight: 400;
}

footer p{
  font-size: 1rem;
 
}
footer .copyRight{
  font-size: .8rem;
color: gray;
 
}

footer a{
  font-size: 1rem;
  text-decoration: none;
  color: gray;
  border-bottom: 2px solid gray;
}
footer li{
  list-style: none;
  margin-bottom: 5px;
}


@media(max-width:1200px){

  body{
    padding: 0px 20px;
  }

  #home{
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }

#home .leftDiv{
  justify-content: flex-end;
  padding-left: 80px;
  }
  #home .leftDiv h3{
   font-size: 2rem;
  }
  #home .leftDiv h4{
  font-size: 1.3rem;

  }
  #home .leftDiv p {

    font-size: .9rem;
    margin-bottom: 30px;
}


/* right Side Div Media Querry */

#home .rightDiv .profilePic{

  justify-content: flex-start;
  align-items: center;
}

#home .rightDiv img{
  width:370px;

  }


}


/* 900 max Widht Handling */
@media(max-width:900px){
  #home .rightDiv img{
    width: 250px;
    }

 #home .leftDiv h1{
font-size: 1.3rem;
    }
     
    .links .downloadButton{
      height: 35px;
      width: 110px;
      font-size: .8rem;
      font-weight: 900;

    }
    .links{
      padding: 8px;
    }

    .links a i{
      font-size:2rem;
    }
    #home .leftDiv{

      padding-left: 15px;
      }
      #home .leftDiv h3{
       font-size: 1.2rem;
      }
      #home .leftDiv h4{
      font-size: 1rem;
      margin-bottom: 3px;
    
      }
      #home .leftDiv p {
    
        font-size: .7rem;
        margin-bottom: 4px;
    }

    nav ul li a{
      font-size: 1.2rem;
    }
    nav ul{
         gap: 5px;
      
    }

    header .logo img {
      width: 50px;
    }
    header .logo strong{
      font-size: 1.3rem ;
    }
    header .logo span{
      color: white;
      font-size: 1.3rem ;
    } 
    header a img{
    height: 60px;

    } 
    header{
   padding: 10px 5px;

    } 

    #navBar2{
      display: none;
    }

  /*about section */
    #about{
      height: fit-content;
      padding: 10px 30px;
    }

    #skills{
      height: fit-content;
      padding: 10px 30px 30px 30px;
    }
    
  

}


/* 600 max Widht Handling */
@media(max-width:600px){
  #home{
    flex-direction: column-reverse;
    align-items: start;
    padding:0px;
    margin: 0px;
  }
  
    #home .rightDiv{
    display: flex;
    justify-content: center;
    width: 99%;
    padding-top:20px;
    align-self:center;

  
      }

  #home .rightDiv img{
    width:250px;
 
  
    }
  #home .leftDiv{
    width: 100%;
    padding: 10px 10px;

    }
    .leftDiv h1{
    background-color: rgba(181, 181, 184, 0.649);
    border-radius: 6px;
    width: fit-content;
    padding: 2px 5px;
    
    }

    #menuButton{
      display: block;
    }
  

  .navBar1{
    display: none;
  }

  header .logo img {
    width: 50px;
  
  }
  header .logo strong{
    font-size: 1.3rem ;
  }
  header .logo span{
    color: white;
    font-size: 1.3rem ;
  } 
  header a img{
  height: 60px;

  } 

  header{
    padding: 20px 5px;
     } 

.links a i{

 font-size: 1.6rem;
}
.links .downloadButton{
  height: 29px;
}

/* About  Sections */
#about{
  height: fit-content;
  padding: 10px 30px;
}

#about h2{
  /* font-size: large; */
  text-align: center;
}
#skills h2{
  /* font-size: large; */
  text-align: center;
}
#projects h2{
  /* font-size: large; */
  text-align: center;
}

.outer span{
  font-size: 10px;
  font-weight: 600;
  margin-left: 4px;

  }


}


@media (max-width:390px) {
  /* Footer Section */


#skills{
padding: 20px;
}


footer{

  padding: 5px 8px;
  font-size: 1rem;
  width: 100%;
  border-top: 2px solid rgba(147, 133, 133, 0.633);
  height: 100px;
  color: white;
  font-weight: 400;
}

footer p{
  font-size: .9rem;
 
}
footer .copyRight{
  font-size: .8rem;
 color: gray;
 width: 100%;
 text-align: center;
 
}

footer a{
  font-size: 1rem;
  text-decoration: none;
  color: gray;
  border-bottom: 2px solid gray;
}
footer li{
  list-style: none;
  margin-bottom: 5px;
}

}

/* Small Devices NavBar StylIng Handling */

      #navBar2{
      position: absolute;
      top: 0;
      right:0px;
       background-color: brown;
      height:30vh;
      width: 750px;
    }

    
    #navBar2 ul{
      margin-top: 20px;
  
    }
    #navBar2 ul li a{
    font-size: 1.2rem;
    margin-bottom: 5px;
    }

    #navBar2 {
      position: absolute;
      top: 0;
      z-index: 2100;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      display: none;
      border-radius: 20px;
      padding: 10px;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
       
    }
    
    
    #navBar2 ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    
    }


   #menuCancel .cancelIcon{
      color: rgb(255, 0, 0);
      position: absolute;
      right:0px;
      top:0;
      margin-top: 30px;
      margin-right: 5px;
      font-size: 3.2rem;
      background-color: white;
      height: 50px;
      width: 50px;
      border-radius: 10px;
      
    
    }

 
    